# Object files
*.o
*.ko

#cap files
*.cap
*.pcap
*.hccap
*.hcap

# Libraries
#*.a
#dictionary files
*.dic

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
#swap files
*.swp

#secret stuff
*.pem
*.properties
